stages:
  - build
  - test
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_TAG: "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"
  REGISTRY: "$CI_REGISTRY"

build:
  stage: build
  image: docker:27
  tags:
    - build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build -t "$IMAGE_TAG" .
    - docker push "$IMAGE_TAG"


test:
  stage: test
  image: python:3.12-slim
  tags:
    - test
  dependencies:
    - build
  script:
    - pip install -r app/requirements.txt
    - pip install pytest
    - pytest tests/
  tags:
    - docker

deploy:
  stage: deploy
  image: python:3.12-slim
  tags:
    - deploy
  environment:
    name: production
    url: https://mytexteditor.example.com
  dependencies:
    - build
  script:
    # Здесь может быть ваш деплой‑скрипт
    # Пример: запуск контейнера в Kubernetes
    - echo "Deploying $IMAGE_TAG to production ..."
    # Например, для k8s:
    # - kubectl set image deployment/text-editor-deploy web=$IMAGE_TAG
  only:
    - main
