stages:
  - build
  - test
  - deploy

services:
  - name: docker:dind  # «docker‑in‑docker» – создаём образ локально 
    alias: docker  
variables:
  DOCKER_DRIVER: overlay2 # Внутренний docker‑двигатель
  IMAGE_NAME: mytexteditor # Имя образа, который будет держаться только в CI‑runner’е
  IMAGE_TAG: "$CI_COMMIT_SHA"
  DOCKER_TLS_CERTDIR: "" # Выключаете сертификаты, чтобы docker:dind работал без TLS.

build:
  stage: build
  image: docker:27  # «docker»‑образ с клиентом
  script:
    - docker info
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .  # Билдим и сохраняем в tar, чтобы тесты и деплой смогли «загрузить»
    - docker save -o $IMAGE_NAME.tar $IMAGE_NAME:$IMAGE_TAG
    - ls -lh $IMAGE_NAME.tar   # проверяем размер
  artifacts:
    paths:
    - ${IMAGE_NAME}.tar  # Делаем tar‑файл доступным для следующих job‑ов
  tags:
    - build

test:
  stage: test
  image: docker:27
  dependencies:
    - build
  script:
    - docker load -i $IMAGE_NAME.tar # Загружаем образ, чтобы потом можно было запустить контейнер
    - docker run --rm -w /app $IMAGE_NAME:$IMAGE_TAG /bin/sh -c "pip install pytest && pytest tests/" # Устанавливаем зависимости и запускаем тесты внутри контейнера
  tags:
    - test

deploy:
  stage: deploy
  image: docker:27
  environment:
    name: production
    url: http://192.168.1.50
  dependencies:
    - build
  before_script:
    - eval $(ssh-agent -s)  # Запускаем ssh‑agent
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - # Добавляем приватный ключ, который уже хранится в CI‑Variable
    - mkdir -p ~/.ssh   # Создаём каталог .ssh, если его ещё нет
    - chmod 700 ~/.ssh # Создаём права на каталог .ssh
    - ssh-keyscan -H $PROD_HOST >> ~/.ssh/known_hosts  # Записываем ключ сервера в known_hosts
    - chmod 600 ~/.ssh/known_hosts # Создаём права на каталог known_hosts
  script:
    - docker load -i $IMAGE_NAME.tar    # Загружаем образ (если не в тесте)
    - echo "Deploying $IMAGE_NAME:$IMAGE_TAG to production ..."     # Отправляем его на удалённый Docker‑host (или на Kubernetes)
    - cat $IMAGE_NAME.tar | ssh $PROD_USER@$PROD_HOST "sudo docker load && sudo docker run -d -p 5000:5000 --name mytexteditor $IMAGE_NAME:$IMAGE_TAG" # Запускаем контейнер на хосте
  only:
    - main
  tags:
    - deploy
